<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmovil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Finanzas móviles"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMovil">
        <activity
            android:name=".ActivityBalance"
            android:exported="false"
            android:label="@string/balance_screen"/>
        <activity android:name=".IngresoActivity"
            android:label="@string/add_income_screen"/>
        <activity android:name=".EgresoActivity"
            android:label="@string/add_expenditure_screen"/>
        <activity android:name=".Cuenta_por_cobrarActivity"
            android:label="@string/add_accounts_receivable_screen"/>
        <activity android:name=".Cuenta_por_pagarActivity"
            android:label="@string/add_accounts_payable_screen"/>
        <activity
            android:name=".LobbyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>